.about {
    background-color: #0a2850;
  padding: 0;
  margin: 0;
  color: #fff;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
}

.about__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin-left: 80px;
    margin-top: 100px;
    max-width: 251px;
    z-index: 2;
    margin-bottom: 0;
}

.about__content {
    max-width: 660px;
    padding: 119px 80px 173px 0;
  }

  .about__paragraph {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .about__paragraph:last-child {
    margin-bottom: 0;
  }

  .about__circle {
    width: 426px;
    height: 426px;
    border-radius: 50%;
    background-color: #2f80ed;
    position: absolute;
    margin-top: -152px;
    margin-left: -129px;
  }

  .about__circle_animation_blurred {
    animation: Pulsate 1.3s ease-in-out infinite;
  }

  @keyframes Pulsate {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.3);
  }
}